@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to CSharpGames!</h1>

<p>Select a game to play:</p>

<ul>
    <li>
        <NavLink href="/snake">Play Snake</NavLink>
    </li>
    <li>
        <NavLink href="/pong">Play Pong</NavLink>
    </li>
    <li>
        <NavLink href="/brickbreaker">Play Breakout</NavLink>
    </li>
    <li>
        <NavLink href="/spaceinvaders">Play Space Invaders</NavLink>
    </li>
    <li>
        <NavLink href="/tetris">Play Tetris</NavLink>
    </li>
    <li>
        <NavLink href="/tictactoe">Play Tic-Tac-Toe</NavLink>
    </li>
    <li>
        <NavLink href="/flappybird">Play Flappy-Bird</NavLink>
    </li>
    <!-- Add more games as you implement them -->
</ul>